button {
    display: block;
    margin: 15px auto;
    padding: 10px 25px;
    font-size: 35px;
}

.containerForAllPics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.imgBox {
    width: 400px;
    height: 400px;
    margin: 5px;
}

.getIdea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.question {
    margin-right: 15px;
    font-size: 20px;
}

input {
    font-size: 28px;
    text-align: center;
}